{% extends 'base.html' %}

{% block title %}Polls Detail{% endblock %}

{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'polls/detailstyle.css' %}">

<h1>{{question.question_text}}</h1>
{% if error_message %} <p> <strong>{{error_message}}</strong></p>{% endif %}
<form action="{% url 'polls:vote' question.id %}" method="post">
{% csrf_token %}
{% for choice in question.choice_set.all %}
    <input type ="radio" name="choice" id="choice{{forloop.counter}}" value="{{choice.id}}">
    <label for ="choice{{forloop.counter}}">{{choice.choice_text}}</label><br>
{% endfor %}

<br/>
<input type="button" value="Back" onClick="location.href='{% url 'polls:index' %}'">
<input type="submit" value="Vote">
</form>

<br/>
<a href="{% url 'polls:index' %}">클릭하면 목록 화면으로 이동합니다.</a>
{% endblock %}